<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/carrito.css">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <h1>Campus shop</h1>
        <a href="../view/main.html" class="a">Todos los productos</a>
        <a href="../view/abrigos.html" class="a2">Abrigos</a>
        <a href="../view/camisetas.html" class="a3">Camisetas</a>
        <a href="../view/pantalones.html" class="a4">Pantalones</a>
        <a href="../view/carrito.html" class="a5">Carritos</a>
        <p class="p1">3</p>
    </section>

    <section class="container2">
        <h1>Carrito</h1>

        <div class="prod1">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_712593-MCO41606376126_052020-F.webp" alt="">
            <div class="div1">
                <p class="p2">Nombre: <br> Chaqueta Hombre Cuero Sintético</p>
                <p class="p3">Precio: <br><br> $102000</p>
                <p class="p4">SubTotal: <br><br> $2000</p>
                <label for="cantidad">cantidad</label>
                <input class="cantidad" type="text" placeholder="2">
            </div>
        </div>

        <div class="prod2">
            <img  src="https://http2.mlstatic.com/D_NQ_NP_2X_731406-MCO42646277112_072020-F.webp" alt="">
            <div class="div2">
                <p class="p5">Nombre: <br>Pantalon En Dril Licrado Para Hombre.</p>
                <p class="p6">Precio: <br><br>$58900</p>
                <p class="p7">SubTotal: <br><br> $4000</p>
                <label for="cantidad">cantidad</label>
                <input class="cantidad" type="text" placeholder="2">
            </div>
        </div>

        <div class="prod3">
            <img src="https://http2.mlstatic.com/D_NQ_NP_2X_995623-MCO70722158553_072023-F.webp" alt="">
            <div class="div3">
                <p class="p8">Nombre: <br>Camiseta Deportiva, Crossfit, Gym.</p>
                <p class="p9">Precio: <br><br>$29900</p>
                <p class="p10">SubTotal: <br><br> $2500</p>
                <label for="cantidad">cantidad</label>
                <input class="cantidad" type="text" placeholder="1">
            </div>
        </div>
    </section>
    <section class="container3">
        <button class="butt">Vaciar carrito</button>
        
        <div class="div4">
            <button class="butt2">Comprar ahora</button>
            <p class="p11">Total: <br> $199300</p>
        </div>
    </section>
</body>

<footer>
    &copy; <em id="date">
    </em>Career Karma
  </footer>
</html>