<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/carrito_vaccio.css">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <h1>Campus shop</h1>
        <a href="./main.html" class="a">Todos los productos</a>
        <a href="./abrigos.html" class="a2">Abrigos</a>
        <a href="./camisetas.html" class="a3">Camisetas</a>
        <a href="./pantalones.html" class="a4">Pantalones</a>
        <a href="./carrito.html" class="a5">Carritos</a>
        <p class="p1">3</p>
    </section>

    <section class="container2">
        <h1>Carrito</h1>

        
        <footer>
            &copy; <em id="date">
            </em>Career Karma
        </footer>
</html>
